<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>

    <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="/styles/styles.css"> -->

      <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">

      <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  </head>
  <body>

<h1>To-Do List</h1>

    <div class="form-group">
      <h1>To-Do <small>List</small></h1>
    <form role="form">task
        <input type="text" class="form-control" placeholder="Your Task" name="task">
        <input type="text" class="form-control" placeholder="Your Description" name="des">
    </form>
    <button type="button" class="btn btn btn-primary">Add</button>
        </div>
        <div></div>
    <ul class="list-unstyled" id="todo"></ul>
    <section id='todoTarget'></section>

<script src='scripts/app.js'></script>
  </body>
</html>
